<h1>Liste de tous mes cocktails</h1>


<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
  <p>
    <%= link_to "Add ingredients", cocktail_path(cocktail) %>
  </p>
<% end %>
